*{
    margin: 0;
    padding: 0;
}
 /* h2{ 
    position: absolute;
    top: 30%;
    margin-left: 40%;
} */


.chicken,.beef ,.sushi{
    display:inline-block;
    width:80%;

margin-left: 100px;
margin-top: 30px;

color:white;
    border: 5px solid black;
}

.chicken{
    background-color: rgb(238, 81, 9);
}
.beef{
    background-color: rgb(187, 218, 180);
    color: black;
}
.sushi{
    background-color: rgb(53, 190, 19);
}

.chicken p,.beef p,.sushi p{

    margin-top: 10px;

}
 .chicken h3,.beef h3,.sushi h3{
text-align:center;
padding: 10px;
background-color:black;
color: white;

} 







@media only screen and (max-width: 600px) {
    body{
        background-color: green;
    }
    /* For tablets: */
    .chicken{
        
        width:66.66%;
    }

.beef{
    width:66.66%;
}
.sushi{
    width: 100%;
}
}


.food{
    color: white;
}
.navbar-nav a{
    margin-left: 100px;
    color: white;
    font-size: 20px;
   
}


.navBar{
    display: none;
    width: 100%;

    
}

.dropdown-content {
    display: none;
    position: absolute;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  


.navBar ul{
    list-style-type: none;
    background-color: rgb(31, 31, 26);

 
}
.sideButton{
    margin-right: 10px;
}
.navBar ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  font-size: 25px;

    color: white;

    border: 2px solid wheat;
    width: 100%;
    text-align: center;
    margin-right: 10px;




}

.navBar ul li a:hover{
    background-color: green;
    color: white;
}
        



@media only screen and (max-width: 880px) {
    .navBar{
      display: block;
    }
    .sushi{
        width: 66.66%;
}
}